<html>
    <head>
        <title>Todo List</title>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <h1>My Todo list</h1>
      <div id="todo-table">
          <form>
              <input type="text" name="item" placeholder="Add new item.." required>
              <button type="submit">Add item</button>
          </form>

          <ul>
              <li>Goto Gym</li>
              <li>have your meal</li>
              <li>Code</li>
          </ul>


      </div>

  </body>

</html>